@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero Section Begin -->
<section class="hero-section">
    <div class="hs-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="img/hero/hero-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-6">
                        <div class="hi-text">
                            <span>Shape your body</span>
                            <h1>Be <strong>strong</strong> traning hard</h1>
                            <a asp-controller="Account" asp-action="Login" class="primary-btn">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hs-item set-bg" data-setbg="img/hero/hero-2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-6">
                        <div class="hi-text">
                            <span>Shape your body</span>
                            <h1>Book <strong>a session</strong> now</h1>
                            <a asp-controller="Book" asp-action="Details" class="primary-btn">Appointment</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->


@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const logosContainer = document.querySelector(".logos");
            logosContainer.innerHTML += logosContainer.innerHTML;
            logosContainer.style.transform = "translateX(0)";
            function duplicateLogos() {
                const clone = logosContainer.cloneNode(true);
                clone.classList.add("duplicate");
                logosContainer.parentElement.appendChild(clone);
            }

            duplicateLogos();
        });
    </script>
}
