$primary-color: #0a1c27;
$secondary-color: #2c3e50;

.home-page {
  text-align: center;

  h1 {
    color: $primary-color;
    font-weight: bold;
    font-size: 4rem;
    padding: 2rem;
  }

  p {
    color: $secondary-color;
    font-size: 1rem;
    margin-left: 2rem;
  }

  .start-btn {
    padding: 1rem;
    margin: 2rem;
    background-color: #4bc1d2;
    border-radius: 200px;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 10px 30px;
    color: #fff;
    border: 2px solid #fff;
  }

  .library-congratulation {
    width: 100vw !important;
    max-width: none;
    height: 28rem;
    margin-left: calc(-50vw + 50%);
    overflow: hidden;
    padding: 1rem 0;
    background-color: #eaf3f4;
    position: relative;
    h2 {
      padding-top: 8rem;
      padding-bottom: 3rem;
    }
    .doll {
      position: absolute;
      right: 20px;
      bottom: 20px;
      width: 10rem;
      opacity: 0.8;
    }
  }
  .partners-container {
    width: 100vw !important;
    max-width: max-content;
    margin-left: calc(-50vw + 50%);
    overflow: hidden;
    padding: 1rem 0;
    p {
      text-align: left;
      font-size: 2rem;
      font-weight: 700;
    }
    .scrolling-wrapper {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100px;
      display: flex;
      align-items: center;

      .logos {
        display: flex;
        align-items: center;
        gap: 3rem;
        animation: scroll 15s linear infinite;
        will-change: transform;
        width: max-content;
      }
      .logos::after {
        content: '';
        display: flex;
        align-items: center;
      }
      img {
        max-height: 80px;
        flex: 0 0 auto;
        margin-right: 2rem;
      }
    }
    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100%);
      }
    }
  }
}
