<!-- Edit.cshtml in GymManagement/Views/Author folder-->
@model Author

<div class="d-flex justify-content-center align-items-center">
  <div class="login-container p-4 shadow rounded" style="width: 400px; background-color: #f8f9fa;">
    <h2 class="text-center mb-4">Edit Author</h2>

    <form asp-controller="Author" asp-action="Edit" method="post">
      <input type="hidden" asp-for="AuthorId" />

      <div class="form-group mb-3 d-flex flex-column">
        <label class="mb-1">Author ID:</label>
        <input class="form-control" value="@Model.AuthorId" readonly />
      </div>
      <div class="form-group mb-3 d-flex flex-column">
        <label class="mb-1" asp-for="Name">Author Name:</label>
        <input asp-for="Name" class="form-control" required />
      </div>
      <div class="d-flex justify-content-center mt-4">
        <button type="submit" class="btn custom-btn me-3">Save</button>
        <button type="button" class="btn btn-secondary" onclick="window.history.back();">Cancel</button>
      </div>
    </form>
  </div>
</div>
